<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header" th:replace="fragments :: header"></div>
    <h1 th:text="${title}"></h1>
    <h3>Our Mission</h3>
    <p>To enrich the lives of Combat Veterans and their families who have limited resources.
        We honor their service through effective assistance in everyday situations.</p>
    <h3>Our Values</h3>
    <p>Songs4Soldiers is a 501(c)(3) not-for-profit organization that raises money through benefit concerts, fundraisers, donations & merchandise.</p>

    <h2>For Soldiers By Soldiers</h2>

    <h3>About Our Founder</h3>
    <p>Songs4Soldiers began as an extension of my life experiences, and love of music. Yet thanks
        to the incredible support from my hometown Columbia, IL, the movement has grown well
        beyond that. It includes combat vets, their families, generous sponsors, and a growing
        S4S Nation of volunteers, event-goers, donors, all sharing our message of hope.</p>
    <p>A little about me, I am a father, musician (<a href="https://www.facebook.com/DazednConfusedSTL/">Dazed n Confused STL</a>),
        event producer and an Iraq War Veteran. Enlisting just before 9/11 I was deployed to Iraq for a long, bloody tour. My unit
        lost three soldiers with several more severely wounded.</p>
    <p>When we returned home in 2005, I thought the fight was over. In reality, it had just begun.</p>
    <p>A few years after returning home – we lost yet another soldier from our unit, this time to
        suicide. Every human being faces some kind of tough time in their life, especially our
        combat veterans. Being asked to fight in a war is the easy part. Dealing with what happened,
        and things that you saw or did, is the hard part. When the guns go silent and you’re home,
        that’s when it all finally settles in for you.</p>
    <p>It can lead to bad decisions and depression. It can very easily lead you to a dark, dark
        place. I was a lucky one in every sense of the word. I made it through Iraq unscathed, and
        came home to an incredibly loving family and community. Many do not.</p>
    <h4>"Songs4Soldiers was created and exists solely to HELP. Songs4Soldiers exists to give that
        second chance. Songs4Soldiers exists to be that last option when you’re down and out.
        Songs4Soldiers exists for you, the combat veteran. It’s truly simple."</h4>
    <p>At thirty six years old I have learned one thing – experiences, family and friends are
        everything. The world can be a crazy place, and at the end of the day real change is made
        by daily actions and kindness. Almost everyday we help a different combat veteran. Having
        that kind of power and using it to the best of its ability – is truly a blessing that I
        never take for granted.</p>
    <p>Please always keep the family members of our fallen and wounded in your thoughts and
        prayers. For many of them the war never ends.</p>
    <h5>Love and Light, Dustin Row</h5>

    <div id="footer" th:replace="fragments :: footer"></div>
</body>
</html>