<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <div id="header" th:replace="fragments :: header"></div>
    <h1 th:text="${title}">Default Title</h1>

    <!----------------------    DISPLAY VET ASSISTANCE FORM ---------------------->

    <h2 th:text="${title_vet}">Apply for Assistance:</h2>
    <form action="vetAssist" th:action="@{/S4S/contact}" th:object="${veteran}" method="post">
        <p>* fields required</p>
        <div class="form-group">
            <label>*Name: <input type="text" th:field="${veteran.vet_name}" class="form-control" ></label>
            <p class="error" th:errors="${veteran.vet_name}"></p>
        </div>
        <div class="form-group">
            <label>*e-mail:<input type="text" th:field="${veteran.vet_email}" class="form-control" ></label>
            <p class="error" th:errors="${veteran.vet_email}"></p>
        </div>
        <div>
            <label>Phone/Cell:<input th:field="*{vet_phone}" class="form-control"></label>
            <p class="error" th:errors="*{vet_phone}"></p>
        </div>
        <div>
            <label>Branch of Service:</label>
            <select th:field="*{branch}">
                <th:block >
                    <option th:each="branch : ${branchList}" th:value="${branch}" th:text="${branch}" />
                </th:block>
            </select>
        </div>
        <!--        <label>Start:</label><input type="date" th:field="${veteran.vet_serviceStart}" class="form-control">-->
        <!--        <label>End:</label><input type="date" th:field="${veteran.vet_serviceEnd}" class="form-control">-->
        <label>How can we can help you?</label><textarea rows="10" cols="75" th:field="${veteran.vet_help}" class="form-control"></textarea>
        <p class="error" th:errors="${veteran.vet_help}"></p>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success">
            <input type="reset" class="btn btn-info">
        </div>
    </form>

    <!---------------------------  DISPLAY VOLUNTEER FORM   --------------------------->
    <h2 th:text="${title_vol}">Volunteer!</h2>

    <form action="/createVolunteer" th:action="@{/contact/createVolunteer}" th:object="${volunteer}" method="post">
         <p>* fields required</p>
         <div class="form-group">
             <label>*Name: <input type="text" th:field="*{vol_name}" class="form-control"></label>
         </div>
         <div class="form-group">
             <label>*e-mail:<input type="text" th:field="${volunteer.vol_email}" class="form-control"></label>
         </div>
         <div>
             <label>Phone/Cell:<input th:field="${volunteer.vol_phone}" class="form-control"></label>
         </div>
         <div class="form-group">
             <label>"Tell us how you can help!"</label>
             <textarea rows="10" cols="75" th:field="*{vol_help}" class="form-control"></textarea>
         </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success">
            <input type="reset" class="btn btn-info">
        </div>
     </form>

    <div id="footer" th:replace="fragments :: footer"></div>
</body>
</html>

<!--        <form action="/S4S/contact" th: object="${volunteer}" method="post" >-->
<!--            <label>*Name:</label><input th:field="${volunteer.vol_name}" class="form-control" required>-->
<!--            <label>*e-mail:</label><input th:field="${volunteer.vol_email}" class="form-control" required>-->
<!--            <label>Phone/Cell:</label><input th:field="${volunteer.vol_phone}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control">&ndash;&gt;-->
<!--            <textarea th:field="*{volunteer.vol_help}" rows="10" cols="75" placeholder="Tell us how you can help!" class="form-control"></textarea>-->